<!DOCTYPE html>
<html lang="zxx">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title> Funden - Crowdfunding & Charity HTML Template || Project Details </title>

	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--====== Flaticon css ======-->
	<link rel="stylesheet" href="assets/css/flaticon.css" />
	<!--====== Slick Css ======-->
	<link rel="stylesheet" href="assets/css/slick.min.css" />
	<!--====== Lity Css ======-->
	<link rel="stylesheet" href="assets/css/lity.min.css" />
	<!--====== Main css ======-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--====== Responsive css ======-->
	<link rel="stylesheet" href="assets/css/responsive.css" />
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!--====== Preloader ======-->
	<div id="preloader">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_four"></div>
			</div>
		</div>
	</div>

	<!--====== Header Start ======-->
	<header class="site-header sticky-header">
		<div class="header-topbar d-none d-sm-block">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-auto">
						<ul class="contact-info">
							<li><a href="#"><i class="far fa-envelope"></i> support@gmail.com</a></li>
							<li><a href="#"><i class="far fa-map-marker-alt"></i> 250 Main Street, 2nd Floor, USA</a></li>
						</ul>
					</div>
					<div class="col-auto d-none d-md-block">
						<ul class="social-icons">
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar-inner">
					<div class="site-logo">
						<a href="index.html"><img src="assets/img/logo.png" alt="Funden"></a>
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">Home</a>
								<ul class="submenu">
									<li><a href="index.html">Home One</a></li>
									<li><a href="index-2.html">Home Two</a></li>
								</ul>
							</li>
							<li class="current">
								<a href="project-1.html">Project</a>
								<ul class="submenu">
									<li><a href="project-1.html">Project One</a></li>
									<li><a href="project-2.html">Project Two</a></li>
									<li><a href="project-3.html">Project Three</a></li>
									<li><a href="project-details.html">Project Details</a></li>
								</ul>
							</li>
							<li>
								<a href="events.html">Events</a>
							</li>
							<li>
								<a href="news-standard.html">News</a>
								<ul class="submenu">
									<li><a href="news-standard.html">News Standard</a></li>
									<li><a href="news-details.html">News Details</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Pages</a>
								<ul class="submenu">
									<li><a href="about.html">About</a></li>
									<li><a href="company-overview.html">Company Overview</a></li>
									<li><a href="team-member.html">Team Member</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="testimonial.html">Testimonials</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="navbar-extra d-flex align-items-center">
						<a href="#" class="main-btn nav-btn d-none d-sm-inline-block">
							Donate Now <i class="far fa-arrow-right"></i>
						</a>
						<a href="#" class="nav-toggler">
                            <span></span>
                        </a>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu-panel">
			<div class="panel-logo">
				<a href="index.html"><img src="assets/img/logo-white.png" alt="Funden"></a>
			</div>
			<ul class="panel-menu">
				<li>
					<a href="index.html">Home</a>
					<ul class="submenu">
						<li><a href="index.html">Home One</a></li>
						<li><a href="index-2.html">Home Two</a></li>
					</ul>
				</li>
				<li class="current">
					<a href="project-1.html">Project</a>
					<ul class="submenu">
						<li><a href="project-1.html">Project One</a></li>
						<li><a href="project-2.html">Project Two</a></li>
						<li><a href="project-3.html">Project Three</a></li>
						<li><a href="project-details.html">Project Details</a></li>
					</ul>
				</li>
				<li>
					<a href="events.html">Events</a>
				</li>
				<li>
					<a href="news-standard.html">News</a>
					<ul class="submenu">
						<li><a href="news-standard.html">News Standard</a></li>
						<li><a href="news-details.html">News Details</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Pages</a>
					<ul class="submenu">
						<li><a href="about.html">About</a></li>
						<li><a href="company-overview.html">Company Overview</a></li>
						<li><a href="team-member.html">Team Member</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="faq.html">FAQ</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="panel-extra">
				<a href="events.html" class="main-btn btn-white">
					Donate Now <i class="far fa-arrow-right"></i>
				</a>
			</div>
			<a href="#" class="panel-close">
				<i class="fal fa-times"></i>
			</a>
		</div>
	</header>
	<!--====== Header End ======-->

	<!--====== Page Title Start ======-->
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<h1 class="page-title">Project Details</h1>
				</div>
				<div class="col-auto">
					<ul class="page-breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li>Project Details</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->

	<!--====== Project Details Area Start ======-->
	<section class="project-details-area section-gap-extra-bottom">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="project-thumb mb-md-50">
						<img src="assets/img/project/project-details.jpg" alt="Image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="project-summery">
						<a href="#" class="category">Headphone</a>
						<h3 class="project-title">
							Kodak PIXPRO Friendly Zoom FZ53-RD 1605MP Digital Camera
						</h3>

						<div class="meta">
							<div class="author">
								<img src="assets/img/author-thumbs/03.jpg" alt="Thumb">
								<a href="#">James W. Barrows</a>
							</div>
							<a href="#" class="date"><i class="far fa-calendar-alt"></i>25 Feb 2021</a>
						</div>
						<div class="project-funding-info">
							<div class="info-box">
								<span>$5036k</span>
								<span class="info-title">Pledged</span>
							</div>
							<div class="info-box">
								<span>9</span>
								<span class="info-title">Backers</span>
							</div>
							<div class="info-box">
								<span>29</span>
								<span class="info-title">Days Left</span>
							</div>
						</div>
						<div class="project-raised clearfix">
							<div class="d-flex align-items-center justify-content-between">
								<div class="raised-label">Raised of $59,689</div>
								<div class="percent-raised">79%</div>
							</div>
							<div class="stats-bar" data-value="79">
								<div class="bar-line"></div>
							</div>
						</div>
						<div class="project-form">
							<form action="#">
								<ul class="donation-amount">
									<li>$5</li>
									<li>$50</li>
									<li>$180</li>
									<li>$500</li>
									<li>$1000</li>
								</ul>
								<button type="submit" class="main-btn">Donate Now <i class="far fa-arrow-right"></i></button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="project-details-tab">
				
						<div class="tab-content" id="projectTabContent">
							<div class="tab-pane fade show active" id="description" role="tabpanel">
								<div class="row justify-content-center">
									<div class="col-lg-8">
										<div class="description-content">
											<h4 class="description-title">Best Smart Headphone In 2021</h4>
											<p>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corp oris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illume.
											</p>
											<img class="mt-50 mb-50" src="assets/img/project/project-details-2.jpg" alt="Image">
											<h4 class="description-title">Why Donate Our Products</h4>
											<p>
												Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi temporadunt ut labore et dolore magnam aliquam quaerat voluptate enim ad minima veniam suscipit
											</p>
											<ul class="description-list">
												<li>Standard Lorem Sum Passage Used</li>
												<li>Build A Music Manager With Nuxt</li>
												<li>A Foldable Web Actually Mean</li>
												<li>Upcoming Web Design Conferences</li>
											</ul>
											<p>
												But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
											</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-10">
										<div class="rewards-box mt-md-50">
											<h4 class="title">Rewards</h4>
											<img src="assets/img/project/project-rewards.jpg" alt="Image">
											<span class="rewards-count"><span>$530</span> or More</span>
											<p>
												But must explain to you how all this mistaken idea of denouncing plasue and praising pain was born
											</p>
											<div class="delivery-date">
												<span>25 Mar 20210</span>
												Estimated Delivery
											</div>
											<ul class="rewards-info">
												<li>
													<i class="far fa-user-circle"></i>5 Backers
												</li>
												<li>
													<i class="far fa-trophy-alt"></i>29 Rewards Left
												</li>
											</ul>
											<a href="events.html" class="main-btn">Select Rewards <i class="far fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="update" role="tabpanel">
								Update
							</div>
							<div class="tab-pane fade" id="bascker-list" role="tabpanel">
								Bascker List
							</div>
							<div class="tab-pane fade" id="reviews" role="tabpanel">
								Reviews
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Project Details Area End ======-->

		<!--====== Footer Start ======-->
	<footer class="site-footer with-footer-cta with-footer-bg">
		<div class="footer-cta">
			<div class="container">
				<div class="row justify-content-lg-between justify-content-center align-items-center">
					<div class="col-lg-7 col-md-8 col-sm-10">
						<span class="cta-tagline">25 Years Of Experience In Crowdfunding</span>
						<h3 class="cta-title">Raise Hand to Promote Best Products</h3>
					</div>
					<div class="col-lg-auto col-md-6">
						<a href="contact.html" class="main-btn bordered-btn bordered-white mt-md-30">
							Promote Your Products <i class="far fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-content-area">
			<div class="container">
				<div class="footer-widgets">
					<div class="row justify-content-between">
						<div class="col-xl-3 col-lg-4 col-md-6">
							<div class="widget about-widget">
								<div class="footer-logo">
									<img src="assets/img/logo-white.png" alt="Funden">
								</div>
								<p>
									Sed ut perspiciatis unde omn iste natus error sit voluptatem
								</p>
								<div class="newsletter-form">
									<h5 class="form-title">Join Newsletters</h5>
									<form action="#">
										<input type="text" placeholder="Email Address">
										<button type="submit"><i class="far fa-arrow-right"></i></button>
									</form>
								</div>
							</div>
						</div>
											<div class="col-lg-2 col-md-5 col-sm-6">
							<div class="widget nav-widget">
								<h4 class="widget-title">Our Projects</h4>
								<ul>
									<li><a href="project-1.html">Medical & Health</a></li>
									<li><a href="project-2.html">Educations</a></li>
									<li><a href="project-1.html">Technology</a></li>
									<li><a href="project-3.html">Web Development</a></li>
									<li><a href="project-2.html">Food & Clothes</a></li>
									<li><a href="project-1.html">Video & Movies</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="widget nav-widget">
								<h4 class="widget-title">Support</h4>
								<ul>
									<li><a href="about.html">Privacy Policy</a></li>
									<li><a href="contact.html">Conditions</a></li>
									<li><a href="company-overview.html">Company</a></li>
									<li><a href="faq.html">Faq & Terms</a></li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-auto col-md-5 col-sm-8">
							<div class="widget contact-widget">
								<h4 class="widget-title">Contact Us</h4>
								<ul class="info-list">
									<li>
										<span class="icon"><i class="far fa-phone"></i></span>
										<span class="info">
											<span class="info-title">Phone Number</span>
											<a href="#">+012(345) 78 93</a>
										</span>
									</li>
									<li>
										<span class="icon"><i class="far fa-envelope-open"></i></span>
										<span class="info">
											<span class="info-title">Email Address</span>
											<a href="#">support@gmail.com</a>
										</span>
									</li>
									<li>
										<span class="icon"><i class="far fa-map-marker-alt"></i></span>
										<span class="info">
											<span class="info-title">Locations</span>
											<a href="#">59 Main Street, USA</a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright-area">
					<div class="row flex-md-row-reverse">
						<div class="col-md-6">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<p class="copyright-text">© 2021 <a href="#">Funden</a>. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--====== Footer End ======-->

	<!--====== jquery js ======-->
	<script src="assets/js/jquery.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<!--====== Inview js ======-->
	<script src="assets/js/jquery.inview.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Lity js ======-->
	<script src="assets/js/lity.min.js"></script>
	<!--====== Wow js ======-->
	<script src="assets/js/wow.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>

</body>

</html>